

<section id="content-details" class="row clearfix">
  <article id="details-article" class="col-sm-8">
      <h1 id="article-title"><%= @product.title %></h1>
      <span class="font-weight-light"><%= @product.subtitle %></span>
  
      <%= raw @product.description %>
  </article>
</section>